<div class="jumbotron">
    <h1 align="center">Who wants some gifts?</h1>
</div>
<h3 ng-hide="needForGift">You haven't good children!</h3>
<div ng-repeat="person in needForGift">
    Who need gifts? <h2>{{person.firstName}} {{person.lastName}}</h2>
    <table class="table table-bordered">
        <tr>
            <th>What you want</th>
            <th>How many you want</th>
            <th>What did you say?</th>
        </tr>
        <tr ng-repeat="wish in person.myWishes">
            <td>{{wish.what}}</td>
            <td>{{wish.count | number}}</td>
            <td>
                <div class="btn-group" ng-if="wish.santasAnswer === 0">
                    <button type="button" class="btn btn-success" ng-click="updateAnswer(1,wish)">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="updateAnswer(-1, wish)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <span class="glyphicon glyphicon-ok" ng-if="wish.santasAnswer === 1"></span>
                <span class="glyphicon glyphicon-remove" ng-if="wish.santasAnswer === -1"></span>
            </td>
        </tr>
    </table>
</div>