<form class="form-inline">
    <div class="col-lg-8 col-lg-offset-2 form-group">
        <tabset justified="true">
            <tab heading="My Wishes" ng-controller="WishesController">
                <form class="form-inline">
                    <div class="form-group">
                        <label>What gift you want from Santa?</label>
                        <input placeholder="Enter what you want" ng-model="wish.what">
                    </div>
                    <div class="form-group">
                        <label>How much you want it?</label>
                        <input placeholder="Enter number" ng-model="wish.count">
                    </div>
                    <button type="button" class="btn btn-success" ng-click="addWish()">Add wish</button>
                    <ul ng-hide="!errorMessages" class="error">
                        <li ng-repeat="message in errorMessages">{{message}}</li>
                    </ul>
                </form>
                <div>
                    <table class="table table-bordered">
                        <tr>
                            <th>What you want</th>
                            <th>How many you want</th>
                            <th>Delete this wish</th>
                        </tr>
                        <tr ng-repeat="wish in wishes">
                            <td>{{wish.what}}</td>
                            <td>{{wish.count | number}}</td>
                            <td>
                                <button type="button" class="btn btn-warning" ng-click="deleteWish(wish.id, $index)">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </tab>
            <tab heading="I'm Santa">
                <div class="jumbotron">
                    <h1 align="center">Who wan't some gifts!</h1>
                </div>
                <div ng-repeat="person in needForGift">
                    Who need gifts? <h2>{{person.firstName}} {{person.lastName}}</h2>
                    <table class="table table-bordered">
                        <tr>
                            <th>What you want</th>
                            <th>How many you want</th>
                        </tr>
                        <tr ng-repeat="wish in person.myWishes">
                            <td>{{wish.what}}</td>
                            <td>{{wish.count | number}}</td>
                        </tr>
                    </table>
                </div>
            </tab>
        </tabset>

    </div>
    <div class="col-lg-1 form-group" ng-controller="loginController">
        <button type="button" ng-click="logout()" class="btn btn-danger btn-lg">Logout</button>
    </div>
</form>