<form class="form-inline">
    <div class="form-group">
        <label>What gift you want from Santa?</label>
        <input placeholder="Enter what you want" ng-model="wish.what">
    </div>
    <div class="form-group">
        <label>How much you want it?</label>
        <input placeholder="Enter number" ng-model="wish.count">
    </div>
    <button type="button" class="btn btn-success" ng-click="addWish()">Add wish</button>
    <ul ng-hide="!errorMessages" class="error">
        <li ng-repeat="message in errorMessages">{{message}}</li>
    </ul>
</form>
<div>
    <table class="table table-bordered">
        <tr>
            <th>What you want</th>
            <th>How many you want</th>
            <th>Your santa says</th>
            <th>Delete this wish</th>
        </tr>
        <tr ng-repeat="wish in wishes">
            <td>{{wish.what}}</td>
            <td>{{wish.count | number}}</td>
            <td>
                <span class="glyphicon glyphicon-thumbs-up" ng-if="wish.santasAnswer === 1"></span>
                <span class="glyphicon glyphicon-thumbs-down" ng-if="wish.santasAnswer === -1"></span>
                <span class="glyphicon glyphicon-eye-close" ng-if="wish.santasAnswer === 0"></span>
            </td>
            <td>
                <button type="button" class="btn btn-warning" ng-click="deleteWish(wish.id, $index)">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </td>
        </tr>
    </table>
</div>