.left {
    float: left;
    width: 125px;
    text-align: right;
    margin: 2px 10px;
    display: inline
}
.right {
    float: left;
    text-align: left;
    margin: 2px 10px;
    display: inline
}
.center{
    float: left;
    text-align: center;
    margin: 2px 10px;
    display: inline
}
.crossline{
    text-decoration: line-through;
}
footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Правый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #666; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%;
}