
<div>
    <ul ng-hide="!errorMessages" class="error">
        <li ng-repeat="message in errorMessages">{{message}}</li>
    </ul>
    <table class="table table-bordered">
        <tr>
            <th>Room #</th>
            <th>Room name</th>
            <th>People in the room</th>
            <th>Enter the room</th>
        </tr>
        <tr ng-repeat="room in rooms">
            <td>{{room.id}}</td>
            <td>{{room.name}}</td>
            <td>{{room.roomMates.length}}</td>
            <td>
                <button type="button" class="btn btn-success" ng-click="enterRoom(room.id)">
                    <span class="glyphicon glyphicon-home"></span>
                </button>
            </td>
        </tr>
    </table>
</div>